[Unit]
Description=shaker robot server

[Service]
ExecStart=/pharmbio/labrobots-restserver/start-server-shaker.sh

[Install]
WantedBy=multi-user.target
